/* Global Styles */
body {
  color: white;
  background-color: #000000 !important;
  font-family: monospace !important;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overscroll-behavior: none;
  width: 100%;
  box-sizing: border-box;
}

/* Main Container */
main {
  display: flex;
  flex-direction: column;
  width: 100%; /* Take full width */
  min-height: 100vh;
}

/* Section Styles */
#introduction,
#category,
#how-it-works {
  padding: 240px; /* Increased padding for sections */
  border-radius: 8px; /* Rounded corners */
  background-color: #1f1f1f; /* Dark background for sections */
  margin: 20px 0; /* Adjusted margin for sections to prevent side scrolling */
  text-align: center; /* Center text within sections */
}

h2 {
  margin-bottom: 20px; /* Space below headings */
}

/* Navbar Styles */
.nav-buttons.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

/* Optional: Add some hover effects */
.nav-buttons.show button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
  background: linear-gradient(135deg, #5e07ff, #bc98ffdd);
}

.gradient-text {
  background: linear-gradient(
    40deg,
    rgba(109, 189, 255, 0.64) 10%,
    rgba(58, 118, 207, 0.625) 30%,
    rgba(18, 57, 215, 0.599) 60%,
    rgba(100, 57, 240, 0.531) 70%,
    rgba(131, 49, 255, 0.477) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-button:hover {
  background: linear-gradient(
    135deg,
    #5e07ff,
    #bc98ffdd
  ); /* New color gradient */
  color: #ffffff;
  transition: background 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.gradient-button {
  background: linear-gradient(
    40deg,
    rgba(109, 189, 255, 0.64) 10%,
    rgba(58, 118, 207, 0.625) 30%,
    rgba(18, 57, 215, 0.599) 60%,
    rgba(100, 57, 240, 0.531) 70%,
    rgba(131, 49, 255, 0.477) 100%
  );
  border: none;
  color: #fff; /* Adjust text color if needed */
  transition: background 0.3s ease; /* Smooth transition */
}

nav {
  background-color: #00000078; /* Dark grey background color */
  color: #5c85f6;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
  position: fixed;
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  z-index: 1000; /* Ensure navbar is above other content */
}

nav ul {
  list-style: none;
  display: flex; /* Use flexbox for horizontal layout */
  justify-content: center; /* Center navbar items */
}

nav ul li {
  margin: 0 30px -10px; /* Top, horizontal, and bottom margin */
}

nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

/* Custom Navbar Background and Text Color */
.custom-navbar {
  background-color: #00000099; /* Set your desired background color here */
  color: #ffffff;
}

.custom-navbar a {
  color: #569cffb4; /* navbar links */
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.darkmode-icon {
  color: #569cffb4; /* Icon color for dark mode toggle */
  margin-left: auto; /* Push icon to the far right */
}

.darkmode-icon:hover {
  color: #8088ffd8;
}

.custom-navbar a:hover {
  color: #8088ffd8; 
}

/* Smaller text size for navbar links on smaller screens */
@media (max-width: 768px) {
  nav a {
    font-size: 14px; /* Smaller font size for navbar links */
  }
}

nav a:hover {
  color: #5c85f6; /* Lighter cyan on hover */
}

footer {
  color: #ffffff;
  text-align: center;
  padding: 20px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

footer .nav-link,
footer .custom-link {
  color: white;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
}

footer .nav-link:hover,
footer .custom-link:hover {
  color: #2563eb;
  transform: translateY(-2px);
}

/* Optional: Add tooltip style */
footer .custom-link {
  position: relative;
}

footer .custom-link[title]:hover:after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px 8px;
  background-color: #333;
  color: white;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  margin-bottom: 5px;
}

footer .custom-link[title]:hover:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 5px solid transparent;
  border-top-color: #333;
  margin-bottom: -5px;
}

/* styles.css */
.footer-icon {
  color: #ffffff !important; /* Light blue color */
  font-size: 1.2em; /* Optional: adjust icon size */
}

.footer-icon:hover {
  color: #6796fb !important;
}

/* Footer Styles */
footer {
  color: #ffffff !important;
  background: linear-gradient(
    40deg,
    rgba(109, 189, 255, 0.476) 40%,
    rgba(5, 104, 254, 0.462) 100%
  );
  text-align: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3); /* Shadow effect */
}

